<div *ngIf="privileges === 'Group Admin' || privileges === 'Super Admin'">
    <p>Currently managing: {{ chatName }}</p>
    <br><br><br>

    <table class="bordered">
        <thead>
            <tr>
                <th>Current members</th>
                <th>Remove?</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of Members; let i = index">
                <td>{{ member }}</td>
                <td><button id="remove" (click)="remove(member)">Remove</button></td>
            </tr>
        </tbody>
    </table>
    <br><br><br>
    <table class="bordered">
        <thead>
            <tr>
                <th>Current requests</th>
                <th>Approve</th>
                <th>Deny</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of Requests; let i = index">
                <td>{{ request }}</td>
                <td><button id="approve" (click)="approve(request)">Approve</button></td>
                <td><button id="deny" (click)="deny(request)">Deny</button></td>
            </tr>
        </tbody>
    </table>
    <br><br><br>
    <button id="back" (click)="back()">Back</button>
</div>