<p>Welcome back {{username}}!</p>
<p>Your email is {{email}}</p>
<p>You are currently a {{privileges}}</p>
<p>You are a part of the following chats:</p>
@if(this.groups.length > 0){
    <table class="bordered">
        <thead>
            <tr>
                <th>Chat Name</th>
                <th>Chat Sub Groups</th>
                <th>Group Admin</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of groups; let i = index">
                <td>{{ member_of[i] }}</td>
                <td>{{ sub_groups[i] }}</td>
                <td>{{ admins[i] }}</td>
                <td><a [routerLink]="['/chat', member_of[i]]">View</a></td>
                
            </tr>
        </tbody>
    </table>
}@else {
    You are not apart of any groups, request to join below
}
<div *ngIf="privileges === 'Chat User'">
    <p>Chats you can join:</p>
    <table class="bordered">
        <thead>
            <tr>
                <th>Chat Name</th>
                <th>Chat Sub Groups</th>
                <th>Group Admin</th>
                <th>Request to Join</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of allGroups">
                <td>{{ group[0] }}</td>
                <td>{{ group[1] }}</td>
                <td>{{ group[2] }}</td>
                <td><button (click)="makeRequest(group[0], username)">Request</button></td>
            </tr>
        </tbody>
    </table>
</div>
<button id="delete" (click)="deleteAccount()">Delete</button>
<br><br>
<div *ngIf="privileges === 'Group Admin' || privileges === 'Super Admin'">
    <p>Create new chat room? Enter the name below:</p>
    <input type="text" [(ngModel)]="Added_group" placeholder="Chat room name">
    <button id="Add" (click)="addGroup()">Add</button>
    <p>Chats you admin:</p>
    <table class="bordered">
        <thead>
            <tr>
                <th>Chat Name</th>
                <th>Chat Sub Groups</th>
                <th>Enrolled Users</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of groups; let i = index">
                @if(admins[i] == username || privileges === 'Super Admin'){
                <td>{{ member_of[i] }}</td>
                <td>{{ sub_groups[i] }}</td>
                <td>{{ admins[i] }}</td>
                <td><a [routerLink]="['/chatmanagement', member_of[i]]">Manage</a></td>}
                @if(admins.includes(username) != true){
                    <td colspan = 4>You do not manage any groups, create one above!</td>
                }
            </tr>
        </tbody>
    </table>
</div>
<br><br>
<div *ngIf="privileges === 'Super Admin'">
    
    <table class="bordered">
        <thead>
            <tr>
                <th>User Name</th>
                <th>User Role</th>
                <th>Promote to Admin</th>
                <th>Promote to Super Admin</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of AllUsers">
                @if(user[1] != "Super Admin"){
                <td>{{ user[0] }} </td>
                <td>{{ user[1] }} </td>
                <td><button id="Add" (click)="Promote(user[0], 'Group Admin')">Promote to Admin</button></td>
                <td><button id="Add" (click)="Promote(user[0], 'Super Admin')">Promote to Super Admin</button></td>
                }
            </tr>
        </tbody>
    </table>

</div>